.Profile{
    background-color: #222;
}

.Profile-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
}

.Profile-data {
    font-size: 1.5em;
}